---
layout: default
title: NFT creations
---
<h1>NFT creations</h1>
Collection of NFT artworks created with algorithmic techniques using various programming languages and tools. All artworks are avaialble to be purchased as NFT on my <a href="https://www.hicetnunc.xyz/tz/tz1dpBiCtBBZQQQ8w2bUYZa94yxMvwQZgYUfw">hicetnunc profile</a>.

<link rel="stylesheet" href="https://use.typekit.net/edc0kst.css">

<div class="home">
  <div style="margin-bottom:30px; text-align:center">
    <h1 class="page-heading"></h1>
    <button class="bottoni" id="All" onclick="filterUsingCategory('All')">
      ALL collections
    </button>
    {% assign categories = site.categories | sort %}
    {% for category in categories %}
      {% assign cat = category | first %}
      <button class="bottoni" id="{{ cat }}" onclick="filterUsingCategory(this.id)">
        {{ cat }}
      </button>
    {% endfor %}
  </div>

  {% assign id = 0 %}
  {% for post in site.posts %}
    {% assign id = id | plus:1 %}
    <div class="post" id="{{id}}">
        <div class="row"">
          <div class="column"><img src={{post.img}} /></div>
          <div class="column" style="padding-left:2%; padding-bottom:5px">
            <a href="{{post.url}}" style="font-size: 30px; text-decoration: none;">{{ post.title }}</a>
            Collection: {{post.categories}}<br><br>
            <a href="{{post.link}}">{{post.link}}<br></a>
            Objkt#: {{post.object}}<br>
            Total editions: {{post.editions}}<br>
            Minted on {{post.date | date_to_long_string}}<br>
            {% if post.futuro %}<br>
            <u style="color:#BB0000">Available for purchase on {{post.available | date_to_long_string}}</u>
            {% endif %}
            <br>
            {{post.description}}
          </div>
        </div>
      </div>

  {% endfor %}

  <script type="text/javascript">
    function filterUsingCategory(selectedCategory) {
      var id = 0;
      {% for post in site.posts %}
        var cats = {{ post.categories | jsonify }}

        var postDiv = document.getElementById(++id);
        postDiv.style.display =
          (selectedCategory == 'All' || cats.includes(selectedCategory))
            ? 'unset'
            : 'none';
      {% endfor %}
    }
  </script>

</div>
