<footer class="site-footer">

  <div class="wrapper">

      <div class="footer-col footer-col-2">
            {% include icon-twitter.html username=site.twitter_username %}
      </div>

      <!-- <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div> -->

    </div>

</footer>
